@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist
<div class="jumbotron">
  <h1>Delete Stylist: @Html.DisplayFor(model => model.Name) </h1>
</div>
<div class="content">
  @using(Html.BeginForm())
  {
    <input type="submit" value="Delete" />
  }
</div>

<div class="buttons">
  <btn>@Html.ActionLink("View all stylists", "Index")</btn>
  <br>
  <btn>@Html.ActionLink("Home", "Index", "Home")</btn>
</div>