
.buttons {
  transition-duration: 0.4s;
  color: #C5D0DD;
  background-color: #fda5a4;
  border: 10px transparent;
  width: 200px;
  height: 100%;
  float: left;
  box-sizing: border-box;
  margin: auto;
  margin-left: 0%;
  position: fixed; 
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  padding-top: 30px;
  padding-left: 10px;
  margin-top: 10px;
  font-size: larger;
  letter-spacing: 3px;
}

.btn:hover {

  border-radius: 8px;
  background-color: #fda5a4;
  color: #2B394A;

}



.jumbotron{
  font-family: 'Karla', sans-serif;
  color: #C5D0DD;
  background-color: #2B394A;
  padding-left: 40px;
  margin-left: auto;
  width: 100%;
  text-align: center-left;
  
}

body {
  font-family: 'Martel', serif;
  font-weight: 400;
  background-color: #C5D0DD; 
}

.container{
  padding-right: 0%;
  margin-left: 0px;
  width: 100%;
}

.content {
  padding-left: 20px;
  margin:auto;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 20px;
  float: center;
}

.label{
  padding: 10px;
}

form{
  border: 30px transparent;
  width: 500px;
  height: fit-content;
  box-sizing: content-box;
  margin: auto;
  margin-left: 30%;
  margin-top: 50px;
  display: block;
  float: center;

}

a{
  color:#2B394A;
  font-weight: 700;
  font-size: 13px;
}

