@{
  Layout="_Layout";
}
<div class="jumbotron">
  <h1>Welcome to Eau Claire's</h1>
</div>
<div class="buttons">
  <p class="btn">@Html.ActionLink("View Stylists", "Index", "Stylists")</p>
  <br>
  <p class="btn">@Html.ActionLink("View Clients", "Index", "Clients")
</div>