@{
  Layout="_Layout";
}

<h1>Welcome to Eau Claire's</h1>

<p class="btn btn-primary">@Html.ActionLink("A to an index page", "Index", "Stylists")</p>
<p class="btn btn-primary">@Html.ActionLink("A to an index page", "Index", "Clients")